body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;


    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    padding-inline: 17px;

}

.hidden {
    display: none !important; /* Hide the element by default */
}

.nav-mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.nav-mobile h2 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.nav-desktop {
    display: none;
}

.user-icon {
    width: 40px;
    /* Adjust the size of the circle */
    height: 40px;
    /* Adjust the size of the circle */
    background-color: #e4e14f;
    /* Change the background color */
    color: white;
    /* Change the text color */
    border-radius: 50%;
    /* Make the div circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* Adjust the font size of the letter */
}


main {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
}

.spdf{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.spdf-c {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    margin-top: 12px;
}




.welcome-paragraph {
    text-align: center;
}

.welcome-paragraph p {
    margin-block: 3px;
}



.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.form-stuff {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form-stuff form{
    width: 100%; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.select-diario {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-block: 1rem;
    align-items: start;


}

.select-diario label {
    font-size: 20px;
}

.select-diario select {
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px #a5a5a5;
    -moz-box-shadow: 0px 2px 5px #a5a5a5;
    box-shadow: 0px 2px 5px #a5a5a5;
    display: inline-block;
    margin-top: 16px;
}

option {
    
    padding: 8px;
    border-radius: 5px;
    
}

.select-pdf {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-file {
    border: 1px dashed #8e8e8e;
    padding: 3rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}

.select-pdf p {
    font-size: 20px;
}

.select-pdf table {
    width: 100%;
    border-collapse: collapse;


}

.select-pdf th,
td {
    text-align: center;
    padding-inline: 25px;

}

.select-pdf th {
    background-color: rgb(207, 207, 207);
    padding-block: 7px;
    border: 1px solid black;
}

.select-pdf td {
    border: 1px solid black;
    padding-block: 12px;
}

.text-area-container{
    min-width: 95%;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#toggleButton{
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
} 

#toggleButton:hover{
    text-decoration: underline;
}

 /* Increase the size of radio buttons */
 .radio-button-large {
    transform: scale(1.5); /* Change the scale factor as needed */
    margin-left: -5px;
    margin-right: 8px;
}

.text-area-container textarea{
    width: 100%;
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.instrc-3{
    font-size: 20px;
}

.btn-container{
    display: flex; 
    min-width: 100%; 
    justify-content: end;
}

form{
    width: 100%;
}


.button-submit {
    background-color: #191919; /* Green */
    border: none;
    color: white;
    padding: 8px 45px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    margin-block: 2rem;
    cursor: pointer;
    border-radius: 8px;
    width: 100% !important;
  }

  #myTextarea {
    resize: vertical; /* Only allow vertical resizing */
    /* Optionally, you can also set resize to none to completely disable resizing */
    /* resize: none; */
}


/* Modal content */
.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 350px;
    /* Could be more or less, depending on screen size */
}



@media only screen and (min-width: 1000px) {

    body {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: white;
        justify-content: center;
        overflow-x: hidden;


        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        padding-inline: 7.5rem;

    }

    .nav-mobile {
        display: none;
    }

    .nav-desktop {

        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px !important;
        justify-content: space-between;
        align-items: center;
        /* margin-top: 1.8rem; */
    }

    .nav-desktop h2 {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 44px;
        margin-bottom: 42px;
    }

    main {
        display: flex;
        width: 100%;
        height: 100%;

        justify-content: center;
    }

    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-inline: 5rem;
    }


    .select-diario {
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        margin-block: 2rem;
        align-items: center;
    
    
    }

    .select-diario select {
        width: 35%;
        padding: 0.7rem;
        border-radius: 5px;
        -webkit-box-shadow: 0px 2px 5px #a5a5a5;
        -moz-box-shadow: 0px 2px 5px #a5a5a5;
        box-shadow: 0px 2px 5px #a5a5a5;
        display: inline-block;
    }

    .select-pdf {
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    .text-area-container{
        min-width: 80%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    
    }

    .button-submit {
        background-color: #191919; /* Green */
        border: none;
        color: white;
        padding: 8px 45px;
        text-align: center;
        text-decoration: none;
        
        font-size: 16px;
        margin-block: 2rem;
        cursor: pointer;
        border-radius: 8px;
        
      }

      /* Modal content */
    .modal-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 30px;
        border: 1px solid #888;
        width: 550px;
        /* Could be more or less, depending on screen size */
    }
    



}

@media only screen and (min-width: 1700px) {

    body {

        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: white;
        justify-content: center;
        overflow-x: hidden;


        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        padding-inline: 18rem !important;

    }
    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-inline: 5rem !important;
    }

}

@media only screen and (min-width: 2100px) {

    body {

        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: white;
        justify-content: center;
        overflow-x: hidden;


        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;

        padding-inline: 28rem !important;

    }
    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-inline: 15rem !important;
    }

}