{% extends "base.html" %}

{% block title %}DiariosPDF{% endblock %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;

    }

    td{
        border: 1px solid black;
        padding: 8px;
    }

    th{
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(207, 207, 207);
        
        padding: 8px;
        font-weight: 400;
    }
</style>

<div style="margin-bottom: 57px ; width: 80%; ">

    <div style="margin-block: ;">

        <div style="display: flex; flex-direction: row; align-items: center;">

            <h1>Baixar PDF Marcado</h1>
            <img src="{{ url_for('static', filename='download-solid.svg') }}" alt="download" style="width: 32 px; height: 32px; margin-left: 12px;" >
    
        </div>
    
        
        <p>Clique no botão abaixo para baixar o PDF marcado:</p>
        <a href="{{ url_for('download_file', filename=filename) }}" class="btn btn-primary">Baixar PDF</a>

    </div>

    
    <br>
    <hr style="color: black; border: 1px solid black;">
    <br>
    <div style="width: fit-content; height: fit-content; border-radius: 12px; background-color: rgb(242, 238, 197); padding: 0px; padding-inline: 18px; padding-block: 1px; margin-block: 10px;">
        <p style="margin-top: 14px; color: black;">* O sistema cria palavras sem acentos e caracteres especiais para ampliar a busca no arquivo pdf. </p>
    </div>
    
    <h1>Palavras Chaves Encontradas:</h1>
    <br>

    <table>
        <thead>
            <tr>
                <th>Palavra-chave</th>
                <th>Quantidade De Vezes Encontrado</th>
                <th>Páginas</th>
            </tr>
        </thead>
        <tbody>
            {% for index in range(keyword_info['found']|length) %}
            {% if keyword_info['found'][index] == 'True' %}
            <tr>
                <td>"{{ keyword_info['keyword'][index] }}"</td>
                <td>{{ keyword_info['count'][index] }}</td>
                <td>{{ keyword_info['pages'][index] }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>

    <br>
    <h1>Palavras Chaves Não Encontradas</h1>
    <div>
        {% for index in range(keyword_info['found']|length) %}
            {% if keyword_info['found'][index] == 'False' %}
            
                <p style="display: inline; color: gray;"> - {{ keyword_info['keyword'][index] }} </p>
               
            {% endif %}
            {% endfor %}
    </div>

    
    

   
</div>


{% endblock %}