{% extends "base.html" %}

{% block title %}DiariosPDF{% endblock %}

{% block content %}
<div class="container">

    <div class="welcome-paragraph">

        <p style="font-size: 19px;">Bem-vindo <strong>Usuario</strong>. </p>
        <p style="font-size: 19px;"> Consulte e marque sua busca nos diários PDF´s facilmente.</p>

    </div>

    <div style="width: 100%; padding: 12px;">

        <hr color="black">

    </div>

    <div class="form-stuff">

        <form id="uploadForm" method="POST" action="{{ url_for('upload_file') }}">

            <!-- <div class="select-diario">

                <label for="select-diario-input">1. Selecione Um Diário</label>
                <select name="select-diario-input" id="select-diario-input" required>

                    <option value="DOU-MG">DOU-MG</option>

                </select>

            </div> -->

            <!-- <div class="select-diario">

                <h2>Select Files</h2>
                <form action="/" method="POST">
                    <input type="radio" id="jmg_radio" name="file_type" value="jmg" checked>
                    <label for="jmg_radio">JMG Files</label><br>
                    <input type="radio" id="dou_radio" name="file_type" value="dou">
                    <label for="dou_radio">DOU Files</label><br><br>
                    <button type="submit">Show Today's Files</button>
                    <button type="submit" name="all_files" value="true">Show All Files</button>
                </form>

            </div> -->

            <div class="select-pdf">

                <p style="align-self: start;">1. Selecione O Arquivo PDF</p>
                <table id="table1">
                    <thead>
                        <tr>
                            <th style="width: 62%; text-align: start;">Diário</th>
                            <th>Data</th>
                            <th>Arquivo Pdf</th>


                        </tr>
                    </thead>
                    <tbody>
                        {%if not today_jmg %}
                        <tr>
                            <td colspan="4" style="color: rgb(172, 172, 172); padding-inline: 28px; !important">
                                Sem Diarios do JMG Publicados Hoje
                            </td>
                        </tr>
                        {% endif %}
                        {% for pdf_file in today_jmg %}
                        <tr>
                            <td style="text-align: start;">
                                <input type="radio" class="table1-input radio-button-large" name="file_names[]"
                                    value="{{ pdf_file }}" checked>
                                Jornal Minas Gerais
                            </td>
                            <td>
                                Hoje

                            </td>

                            <td style="text-align: middle; vertical-align: middle; color: gray;">

                                {{ pdf_file }}
                            </td>

                        </tr>
                        {% endfor %}
                        {%if not today_dou %}
                        <tr>
                            <td colspan="4" style="color: rgb(172, 172, 172); padding-inline: 28px; !important">
                                Sem Publicações da DOU Hoje
                            </td>
                        </tr>
                        {% endif %}
                        {% for pdf_file in today_dou %}
                        <tr>
                            <td style="text-align: start;">
                                <input type="radio" class="table1-input radio-button-large" name="file_names[]"
                                    value="{{ pdf_file }}">
                                Diário Oficial da União
                            </td>
                            <td>
                                Hoje

                            </td>

                            <td style="text-align: middle; vertical-align: middle; color: gray;">

                                {{ pdf_file }}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table id="table2" style="display: none;">
                    <thead>
                        <tr>
                            <th style="width: 62%; text-align: start;">Arquivo Pdf</th>
                            <th>Data</th>
                            <th>Diário</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if not jmg_files %}
                        <tr>
                            <td colspan="4" style="color: rgb(172, 172, 172); padding-inline: 28px; !important">
                                Sem Arquivos Para JMG - Contate Suporte
                            </td>
                        </tr>
                        {% endif %}
                        {% for pdf_file in jmg_files %}
                        <tr>
                            <td style="text-align: start; vertical-align: middle; font-size: 19px;">
                                <input type="radio" class="table2-input radio-button-large" name="file_names[]"
                                    value="{{ pdf_file }}">
                                {{ pdf_file }}
                            </td>
                            <td>

                                {% set date_parts = pdf_file.split('_')[1].split('.')[0] %}
                                {% set year = date_parts[:4] %}
                                {% set month = date_parts[5:7] %}
                                {% set day = date_parts[8:10] %}
                                {{day}}/{{ month }}
                            </td>
                            <td>
                                Jornal Minas Gerais
                            </td>
                        </tr>
                        {% endfor %}
                        {%if not dou_files %}
                        <tr>
                            <td colspan="4" style="color: rgb(172, 172, 172); padding-inline: 28px; !important">
                                Sem Arquivos Para DOU - Contate Suporte
                            </td>
                        </tr>
                        {% endif %}
                        {% for pdf_file in dou_files %}
                        <tr>
                            <td style="text-align: start; vertical-align: middle; font-size: 19px;">
                                <input type="radio" class="table2-input radio-button-large" name="file_names[]"
                                    value="{{ pdf_file }}">
                                {{ pdf_file }}
                            </td>
                            <td>

                                {{ pdf_file.split('_')[2] }}/{{ pdf_file.split('_')[1] }}

                            </td>
                            <td>
                                Diário Oficial da União
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <script>
                    $(document).ready(function () {
                        $("#toggleButton").click(function (event) {
                            event.preventDefault(); // Prevent default behavior
                            $("#table1").toggle();
                            $("#table2").toggle();
                            // Toggle the 'required' attribute for inputs based on table visibility
                            $(".table1-input").prop("required", $("#table1").is(":visible"));
                            $(".table2-input").prop("required", $("#table2").is(":visible"));
                            // Change button text based on current text
                            var currentText = $(this).text();
                            var newText = (currentText === "Selecionar Anteriores") ? "Selecionar Hoje" : "Selecionar Anteriores";
                            $(this).text(newText);
                        });
                    });
                </script>


                <div style="align-self: end; text-decoration: underline; color: blue; margin-block: 0.4rem;">
                    <button id="toggleButton">Selecionar Anteriores</button>
                </div>

            </div>

            <div class="text-area-container">

                <p style="align-self: start;" class="instrc-3">2. Insira as palavras-chaves embaixo:</p>

                <button id="clearButton" style="align-self: end; margin-bottom: 9px;">Limpar</button>
                <textarea name="palavras-chaves" id="myTextarea" rows="6" required
                    placeholder="Colar Palavras Chaves Aqui..."></textarea>


                <p style="align-self: start; margin: 0; color: gray;">*Palavras-chaves separadas por linha.</p>
                <p style="align-self: start; margin: 0; color: gray;">**Tenha em conta acentos.</p>

            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var textarea = document.getElementById('myTextarea');
                    var clearButton = document.getElementById('clearButton');

                    clearButton.addEventListener('click', function () {
                        event.preventDefault();
                        textarea.value = ''; // Clear the textarea content
                    });
                });

            </script>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var textarea = document.getElementById('myTextarea');
                    var form = document.getElementById('uploadForm');

                    form.addEventListener('submit', function (event) {
                        if (textarea.value.length < 2) {
                            alert('Por favor, insira pelo menos uma palavra.');
                            event.preventDefault(); // Prevent form submission
                        }
                    });
                });
            </script>

            <div class=".btn-container">
                <button type="submit" class="button-submit">Consultar
                </button>
            </div>

        </form>

    </div>


</div>


{% endblock %}